@import "variable.scss";
@import "general.scss";
@import "nav.scss";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Montserrat', sans-serif;
}

body::-webkit-scrollbar {
    width: 0.50rem;
}

body::-webkit-scrollbar-track {
    background: $text-primary-color;
}

body::-webkit-scrollbar-thumb {
    background: $primary-color;
}

body::-webkit-scrollbar-button {
    background: #F4BC31;
}

.theme-development {
    .font-page-wrapper {
        .front-page-top {
            width: 100%;
            

            .container {
                .main-container {
                    width: 100%;
                    position: relative;
                    height: 800px;
                    
                    z-index: 1;  
                    .container{
                        .content{
                            position:relative;
                            height:100%;
                            
                            .swiper-container{
                                height:100%;
                                .swiper-wrapper{
                                    position:relative;
                                    .swiper-slide{
                                        width:100%;
                                        height:800px;
                                        background-size: 100%;
                                        background-repeat: no-repeat;
                                        display:flex;
                                        justify-content:center;

                                        .inside-content{
                                            display:flex;
                                            flex-direction: row;
                                            align-items: center;
                                            justify-content: space-between;
                                            width:100%;
                                            max-width:1584px;
                                            margin:0 auto;
                                            padding:0 20px;
                                            .item{
                                                &.left-content{
                                                    max-width:673px;
                                                    width:100%;
                                                    .brand-title{
                                                        font-size:70px;
                                                        line-height: 86px;
                                                        color:#fff;
                                                        font-weight: bold;
        
                                                    }
                                                    .brand-description{
                                                        color:#fff;
                                                        font-size: 30px;
                                                        line-height:40px;
                                                        padding-right:40px;
                                                        padding-bottom:106px;
                                                        margin-top:20px;
        
                                                    }
                                                }
                                                
                                                
        
                                            }
                                        }
                                        
                                    }
                                   
                                }
                                
                                &.gallery-thumbs{
                                    bottom: 162px;
                                    left: 191px;
                                    .swiper-wrapper{
                                        width:100%;
                                        .swiper-slide{
                                            width:132px!important;
                                            height:106px;
                                            border-radius: 15px;
                                            background-size:cover;
                                        }
                                    }
                                }
                            }
                            .right-content{
                                position: absolute;
                                z-index: 2;
                                transform: translateY(-50%);
                                right: 9%;
                                top: 50%;
                                padding: 47px 49px;
                                background: #fff;
                                max-width: 443px;
                                width: 100%;
                                border-radius: 15px;
                                
                                form{
                                    
                                    .form-item{
                                        margin-bottom:22px;
                                        display:flex;
                                        flex-direction: column;
                                        .screen-reader-text{
                                            color:$text-primary-color;
                                            font-size:20px;
                                            line-height:35px;
                                            font-weight:500;
                                            text-transform: capitalize;
                                            margin-bottom:23px;
                                            i{
                                                color:$primary-color;
                                                font-size:18px;
                                                margin-right:10.3px;
                                            }
                                        }
                                        .search-field{
                                            color:#D2D2D2;
                                            
                                        }
                                        .search-field,select{
                                            padding:19px 23px;
                                            border:2px solid #E2E2E2;
                                            border-radius: 10px;
                                            outline:none;
                                        }
                                        select{
                                            color:$text-primary-color;
                                            

                                        }
                                        .own-prop{
                                            padding: 19px 0;
                                            width:100%;
                                            border-radius: 10px;
                                            border:none;
                                            outline:none;
                                        }
                                    }
                                }

                            }
                            
                        }
                    }
                    
                    .front-page-navbar {
                        position: absolute;
                        top: 0;
                        z-index: 4;

                        width: 100%;

                        .container {
                            max-width: 1584px;
                            margin: 0 auto;
                            padding: 0 20px;
                        }
                    }

                }
            }
        }

        .section-collection {
            background: #F8F9FF;
            

            .popular-destination {
                width: 100%;
                padding-top: 80px;

                .container{
                    max-width: 1584px;
                        margin: 0 auto;
                        padding: 0 20px;
                    .section-wrapper {
                        display: flex;
                        flex-direction: row;
                        width:100%;
                        .section-header{
                            flex:25%;
                            max-width:25%;
                            .title-wrapper{
                                .title{
                                    color:$text-secondary-color;
                                    font-size:40px;
                                    line-height:53px ;
                                    font-weight:bold ;
                                    span{
                                        color:$primary-color;
                                        font-size:30px;
                                        line-height: 40px;

                                    }
                                }
                                .section-detail{
                                    color:$text-secondary-color;
                                    margin-top:16px;
                                }
                            }
                            .section-button{
                                margin-top:20px;
                                .own-prop{
                                    outline:none;
                                    border:none;
                                    color:$text-secondary-color;
                                    text-decoration: none;
                                    text-transform: capitalize;
                                    i{
                                        height:34px;
                                        width:34px;
                                        background:$primary-color;
                                        color:#fff;
                                        margin-right:15px;
                                        text-align: center;
                                        line-height: 34px;
                                        border-radius: 50%;
                                    }
                                    
                                }
                            }
                        }

                        .content {
                            flex:75%;
                            max-width:75%;
                            .section-swiper-container{
                                .swiper-wrapper{
                                    .swiper-slide{
                                        .inner-content{
                                            position: relative;
                                            border-radius: 15px;
                                            .image-block{
                                                max-width:356px;
                                                width:100%;
                                                height:320px;
                                                position:relative;
                                                border-radius: 15px;
                                                &:before{
                                                    position: absolute;
                                                    content:"";
                                                    background:rgba($color: #000000, $alpha: 0.3);
                                                    height:100%;
                                                    width:100%;
                                                    
                                                }
                                                img{
                                                    width:100%;
                                                    height:100%;
                                                    border-radius: 15px;

                                                    
                                                }
                                                .fig-caption{
                                                    position:absolute;
                                                    bottom:35px;
                                                    padding:0 30px;
                                                    .title{
                                                        text-transform: capitalize;
                                                        font-size:36px;
                                                        line-height: 24px;
                                                        color:#fff;
                                                        font-weight: 600;
                                                        margin-bottom:16px;
                                                    }
                                                    .tour-n-days{
                                                        text-transform: capitalize;
                                                        font-size:20px;
                                                        line-height: 24px;
                                                        color:#fff;
                                                        font-weight: 500;
                                                    }
                                                }
                                            }
                                            .overlay-content{
                                                position:absolute;
                                                top:0;
                                                left:0;
                                                right:0;
                                                bottom:0;
                                                background:rgba($color: $primary-color, $alpha: 0.8);
                                                padding:30px;
                                                border-radius: 15px;
                                                .overlay-content-wrapper{
                                                    .title{
                                                        font-size:30px;
                                                        line-height: 24px;
                                                        font-weight: 600;
                                                        color:white;
                                                        margin-bottom:10px;
                                                        text-transform: capitalize;
                                                    }
                                                    .tour-n-days{
                                                        font-size:20px;
                                                        line-height: 24px;
                                                        font-weight: 500;
                                                        color:white;
                                                        margin-bottom:15px;
                                                    }
                                                    .detail{
                                                        color:#fff;
                                                        margin-bottom:30px;
                                                    }
                                                    .own-prop{
                                                        text-transform: capitalize;
                                                        text-decoration: none;
                                                        i{
                                                            width:34px;
                                                            height:34px;
                                                            border-radius: 50%;
                                                            color:$primary-color;
                                                            background:#fff;
                                                            margin-right: 15px;
                                                            text-align: center;
                                                            line-height: 34px;
                                                            

                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                    }
                }

            }


            //end of get in touch section
            @import "footer.scss";
        }

    }
}