//business theme font
$font-open_sens:'Open Sans', ;
//business theme text-color
$text-primary-color:#4e4e4e;
$text-secondary-color:#000C23;

//theme color
$primary-color:#FF8121;
$secondary-color:#808080;

$fb-color:#3b5998;
$twitter-color:#00acee;
$instagram-color: #3f729b;
$linkedin-color:#0e76a8;


